* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#000000, #5c0303f6, #020138);
}

.container {
  position: relative;
}

.container .circle {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
}

.container .circle:nth-child(1) {
  width: 450px;
  height: 450px;
  background: linear-gradient(#002df550, #034f5cf6, #5a040457);
  animation: 1s ease-in infinite alternate;
  animation-name: move-up;
}

@keyframes move-up {
  to {
    transform: translate(-5px);
  }
}

.container .circle:nth-child(2) {
  width: 100px;
  height: 100px;
  top: 420px;
  left: 30px;
  background: linear-gradient(#565c03f6, #ff060662);
  backdrop-filter: blur(10px);
  animation: 0.5s ease-in infinite alternate;
  animation-name: move-down;
}

@keyframes move-down {
  to {
    transform: translate(60px);
  }
}

.container .circle:nth-child(3) {
  width: 180px;
  height: 180px;
  top: -180px;
  left: 150px;
  background: linear-gradient(#072194, #034f5c00);
  backdrop-filter: blur(10px);
  animation: 2s ease-in infinite alternate;
  animation-name: move-down2;
}

@keyframes move-down2 {
  to {
    transform: translate(120px);
  }
}

.clock {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  backdrop-filter: blur(0px);
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.container img {
  width: 100%;
  height: 100%;
}
.circle .circle-bg img {
  width: 100%;
  height: 100%;
  filter: contrast(150%);
  filter: brightness(500%);
}

.circle .circle2-bg img {
  width: 100%;
  height: 100%;
  filter: contrast(200%);
  filter: opacity(80%);
  filter: brightness(30%);
}

.circle .circle3-bg img {
  width: 100%;
  height: 100%;
  filter: contrast(150%);
  filter: brightness(500%);
}

.clock .clock-bg img {
  width: 100%;
  height: 100%;
}

.clock::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
  z-index: 15;
}

.clock .hour,
.clock .minute,
.clock .second {
  position: absolute;
}

.clock .hour,
.clock .hour .hr {
  width: 160px;
  height: 160px;
}

.clock .minute,
.clock .minute .min {
  width: 190px;
  height: 190px;
}

.clock .second,
.clock .second .sec {
  width: 230px;
  height: 230px;
}

.clock .hour .hr,
.clock .minute .min,
.clock .second .sec {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.clock .hour .hr::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 80px;
  background: linear-gradient(#b0f1ea, #01a1f1);
  z-index: 10;
  border-radius: 10px;
}

.clock .minute .min::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 110px;
  background: black;
  z-index: 11;
  border-radius: 8px;
}

.clock .second .sec::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 140px;
  background: black;
  z-index: 12;
  border-radius: 2px;
}
